{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Futfem Relations</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
    <link rel="stylesheet" href="{% static 'css/companyeras.css' %}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/trayectoria.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}?v={% now 'U' %}">
    <link rel="stylesheet" href="{% static 'css/combo.css' %}">
</head>
<body {% if usuario_sesion.equipo_favorito.id_equipo %}data-team="{{ usuario_sesion.equipo_favorito.id_equipo }}"{% endif %}>
    {% include 'partials/header.html' %}
    <div class="mates-container">
    <h1 style="margin-bottom: unset;">{% trans "Futfem Mates" %}</h1>
    <div id="reloj">Tiempo</div>
    <div class="flip-container" id="foto-jug" style="height: 180px">
        <div class="flipper">
            <div class="front">
                <img src="{% static 'img/mystery.jpg' %}" class="mystery" alt="mystery player">
            </div>
            <div class="back">
                <img src="#" class="mystery" alt="mystery player" id="jugadora">
            </div>
        </div>
    </div>
    <p id="resultado"></p>

    <div class="juego">
        <div class="compañeras" id="compañeras">
            <div id="jugadora-1"></div>
            <div id="jugadora-2"></div>
            <div id="jugadora-3"></div>
            <div id="jugadora-4"></div>
            <div id="jugadora-5"></div>
        </div>

        <div id="respuesta" class="cont">
            <label for="jugadoraInput">
                <input type="search" id="jugadoraInput" placeholder="Escribe el nombre de la jugadora" autocorrect="off" autocomplete="off">
                <div id="sugerencias-container">
                    <ul id="sugerencias"></ul>
                </div>
            </label>
            <button id="botonVerificar">Verificar</button>
        </div>
    </div>
</div>
<script src="{% url 'javascript-catalog' %}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="{% static 'js/admin.js' %}"></script>
<script type="module" src="{% static 'js/games/companyeras.js' %}"></script>
</body>
</html>
