{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% trans "Futfem Guess" %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@7.3.2/css/flag-icons.min.css" />
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'css/trayectoria.css' %}">
    <link rel="stylesheet" href="{% static 'css/fade.css' %}">
    <link rel="stylesheet" href="{% static 'css/combo.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
<div id="trayectoria-container">
<h1>{% trans "Futfem Career" %}</h1>
    <div id="racha-1" class="fire" style="display: none"></div>


<div id="game">
    <div id="reloj">Tiempo</div>
    <div class="flip-container" id="foto-jug" style="height: 150px">
        <div class="flipper">
            <div class="front">
    <img src="{% static 'img/mystery.jpg' %}" class="mystery" alt="mystery player">
            </div>
            <div class="back">
                <img src="#" class="mystery" alt="mystery player" id="jugadora">
            </div>
        </div>
    </div>
    <p id="result"></p>
  <div id="trayectoria" class="sibling-fade">
    <!-- Aquí se mostrarán los escudos de los equipos -->
  </div>
    <div id="respuesta" class="cont">
        <label for="jugadoraInput"> </label>
        <div>
            <input type="search" id="jugadoraInput" name="j-search-clean" placeholder="{% trans 'Escribe el nombre de la jugadora' %}" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="presentation"> 
            <div id="sugerencias-container">
                <ul id="sugerencias"></ul>
            </div>
        </div>
        <button id="botonVerificar">{% trans "Verificar" %}</button>
  </div>
</div>
</div>
<script src="{% static 'js/admin.js' %}"></script>
<script src="{% url 'javascript-catalog' %}"></script>
<script type="module" src="{% static 'js/games/guesstrayectoria.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>
