.juego{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.compañeras{
    width: 100%;
    max-height: 50%;
    height: 24%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.compañeras div{
    max-height: 150px;
    max-width: 150px;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        color-mix(in srgb, var(--color-primario) 30%, transparent),
        color-mix(in srgb, var(--color-secundario) 30%, transparent)
    );
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.25);

}
.compañeras div img{
    max-height: 100%;
    border-radius: 10px;
}
#sugerencias{
    max-height: 125px;
    overflow-y: scroll;
}
#sugerencias::-webkit-scrollbar{
    color: var(--color-primario);
}