{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Cambiar Contraseña" %}</title>
    <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}">
</head>
<body>
    {% include 'partials/header.html' %}
    <div class="container-login">
        <form class="glass" method="post">
            {% csrf_token %}
            <h2>{% trans "Cambiar Contraseña" %}</h2>
            <div id="div-pass1">
                <label for="pass1">{% trans "Nueva Contraseña" %}:</label>
                <input type="password" name="pass1" placeholder="{% trans 'Nueva Contraseña' %}" required>
            </div>
            <div id="div-pass2">
                <label for="pass2">{% trans "Repetir Contraseña" %}:</label>
                <input type="password" name="pass2" placeholder="{% trans 'Repetir Contraseña' %}" required>
            </div>
            <button type="submit">{% trans "Cambiar Contraseña" %}</button>
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
        </form>
    </div>
</body>
</html>